
head {

}
body{
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ4NjR7gbMRGrT-_D1G8Xtk0kSwhXd6yhpt4lcEJ7GfyGEKeITzxg);
}

.optin:hover {
	background-color: #117bff;
	cursor: pointer;
	transition: background .5s;
}
