
head {

}
body{
  color: white;
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg);
}

#submit:hover {
	background-color: #117bff;
	cursor: pointer;
	transition: background .5s;
}

p{
  font-weight: bold;
}
li{
  list-style-type: none;
}

#submit{

}
